


/*matts cards*/



/*in school extracuriculars*/
.background1{
    background-image: url("images/movieClub.jpg");
    background-size: cover;
    height: 10rem;
}

.background2{
    background-image: url("images/wise.jpg");
    background-size: cover;
    height: 10rem;
}

.background3{
    background-image: url("images/advisoryboard.jpg");
    background-size: cover;
    height: 10rem;
}




/*travelpage*/
.circle{
    border-radius: 20%;
    background: url("images/Ellipse1.png");
    background-size: contain;
    width: 396px;
    height: 391px;
    flex-shrink: 0;
    
}

.circle2{
    border-radius: 20%;
    background: url("images/Ellipse2.png");
    background-size: contain;
    width: 396px;
    height: 391px;
    flex-shrink: 0;
    
}

.circle3{
    border-radius: 20%;
    background: url("images/Ellipse3.png");
    background-size: contain;
    width: 396px;
    height: 391px;
    flex-shrink: 0;
    
}
